<div class = "background">
    <h1>{{game.name}}</h1>
    <img class="image" src="{{game.background_image}}">
    <p>Release day: {{game.released}}</p>
    <p>Rating: {{game.rating}}</p>
    <span>Developers: </span>
    <span *ngFor="let dev of game.developers">{{dev.name}}, </span>
    <br />
    <span>Genres: </span>
    <span *ngFor="let genre of game.genres">{{genre.name}} </span>
    <p></p>
    <p>Description: </p>
    <div [innerHTML] = "game.description"> </div>   
    <a href="/">[Return]</a>
</div>