#game-body{
    position: fixed;
}

.background{
    width: 60%;
    margin: 0 auto;
}

.game{
    display: flex;
    justify-content: left;
    padding-top: 20px;
    padding-bottom: 10px;
    cursor: pointer;
}

.info > p, span {
    font-size: 20px;
}

.info {
    padding-left: 10px;
}

.image {
    width: 300px;
    height: 200px;
}

.title {
    font-size: 40px;
    font-weight: bold;
}