<div id="#game-body">
    <div class="background">
        <div class="card m-3">
            <h3 class="card-header text-center">List Popular Videos Game</h3>
            <div class="card-body">
                <div *ngFor="let item of pageOfItems" (click)="showGameDetails(item.id)">
                    <div class="game">
                        <img class="image" src="{{item.background_image}}" />
                        <div class="info">
                            <h3 class="title">{{item.name}}</h3>
                            <p> Released day: {{item.released}}</p>
                            <p>Rating: {{item.rating}}</p> 
                            <span class="tags">Genres: </span>
                            <span *ngFor="let genre of item.genres">{{genre.name}} </span>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="card-footer pb-0 pt-3">
                <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination>
            </div>
        </div>
    </div>
</div>